<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 25%;
            height:  500px;
        }
        .map-container {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 600px;
          }
    </style>
    <script>
    </script>
</head>
<body>
    <div class="map-container">
        <div id="map" style="width: 100%; height: 800px;">{{map|safe}}</div>
    </div>

    <div class='overlay'>
        <input type='text' placeholder='키워드로 검색하시오'>
        <button type='button'>검색</button>
    </div>
</body>
</html>